Description: >
    ECS service that needs to connect to another ECS service (product-service)
    via it's load balancer. We use environment variables to pass the URL of the product-service to this one's container(s).

Parameters:
    EnvironmentName:
        Type: String

    VPC:
        Description: The VPC that the ECS cluster is deployed to
        Type: String

    HttpListener:
        Type: String

    TargetGroup:
        Type: String

    KmsKeyArn:
        Type: String

    SecurityGroupIds:
        Type: String

    SubnetIds:
        Type: String

    Cluster:
        Description: Please provide the ECS Cluster ID that this service should run on
        Type: String

    DesiredCount:
        Description: How many instances of this task should we run across our cluster?
        Type: Number
        Default: 0

    ImageTag:
        Description: The tag to be used
        Type: String

    Header:
        Description: Header of listener.
        Type: String
        Default: Demo

    ALBHost:
        Description: URL of ALB.
        Type: String

    TemplateBucket:
        Type: String

    ECRRepository:
        Type: String

    PortContainer:
        Type: String

    Priority:
        Type: String

    IsMaster:
        Description: If master create TaskDefinition Manual.
        Type: String
        Default: false
        AllowedValues:
            -   true
            -   false

Mappings:
    AliasHostedZone:
        us-east-2:
            ZoneID: Z3AADJGX6KTTL2
        us-east-1:
            ZoneID: Z35SXDOTRQ7X7K
        us-west-1:
            ZoneID: Z368ELLRRE2KJ0
        us-west-2:
            ZoneID: Z1H1FL5HABSF5
        ca-central-1:
            ZoneID: ZQSVJUPU6J1EY
        ap-south-1:
            ZoneID: ZP97RAFLXTNZK
        ap-northeast-2:
            ZoneID: ZWKZPGTI48KDX
        ap-northeast-3:
            ZoneID: Z5LXEXXYW11ES
        ap-southeast-1:
            ZoneID: Z1LMS91P8CMLE5
        ap-southeast-2:
            ZoneID: Z1GM3OXH4ZPM65
        ap-northeast-1:
            ZoneID: Z14GRHDCWA56QT
        eu-central-1:
            ZoneID: Z215JYRZR1TBD5
        eu-west-1:
            ZoneID: Z32O12XQLNTSW2
        eu-west-2:
            ZoneID: ZHURV8PSTC4K8
        eu-west-3:
            ZoneID: Z3Q77PNBQS71R4
        sa-east-1:
            ZoneID: Z2P70J7HTTTPLU

Conditions:
    IsProd: !Equals [!Ref Header, Demo]
    CreateRoute53: !Not [Condition: IsProd]
    MasterManual: !Equals [!Ref IsMaster, true]

Resources:
    CloudwatchLogsGroup:
        Type: AWS::Logs::LogGroup
        Properties:
            LogGroupName: !Ref AWS::StackName
            RetentionInDays: 365

    ServiceRole:
        Type: AWS::IAM::Role
        Properties:
            RoleName: !Sub service-${AWS::StackName}
            Path: /
            AssumeRolePolicyDocument: |
                {
                    "Statement": [{
                        "Effect": "Allow",
                        "Principal": { "Service": [ "ecs.amazonaws.com" ]},
                        "Action": [ "sts:AssumeRole" ]
                    }]
                }
            Policies:
                - PolicyName: !Sub service-${AWS::StackName}
                  PolicyDocument:
                    {
                        "Version": "2012-10-17",
                        "Statement": [{
                                "Effect": "Allow",
                                "Action": [
                                    "ec2:AuthorizeSecurityGroupIngress",
                                    "ec2:Describe*",
                                    "elasticloadbalancing:DeregisterInstancesFromLoadBalancer",
                                    "elasticloadbalancing:Describe*",
                                    "elasticloadbalancing:RegisterInstancesWithLoadBalancer",
                                    "elasticloadbalancing:DeregisterTargets",
                                    "elasticloadbalancing:DescribeTargetGroups",
                                    "elasticloadbalancing:DescribeTargetHealth",
                                    "elasticloadbalancing:RegisterTargets",
                                    "ssm:*"
                                ],
                                "Resource": "*"
                        }]
                    }

    TaskDefinitionRole:
        Type: AWS::IAM::Role
        Properties:
            RoleName: !Sub task-${AWS::StackName}
            Path: /
            AssumeRolePolicyDocument: |
                {
                    "Statement": [{
                        "Effect": "Allow",
                        "Principal": { "Service": [ "ecs-tasks.amazonaws.com" ]},
                        "Action": [ "sts:AssumeRole" ]
                    }]
                }
            Policies:
                - PolicyName: !Sub task-${AWS::StackName}
                  PolicyDocument:
                    {
                        "Version": "2012-10-17",
                        "Statement": [{
                                "Effect": "Allow",
                                "Action": [
                                    "ssm:*",
                                    "kms:*",
                                    "sts:*"
                                ],
                                "Resource": "*"
                        }]
                    }

    HttpListenerRule:
        Type: AWS::ElasticLoadBalancingV2::ListenerRule
        Properties:
            ListenerArn: !Ref HttpListener
            Priority: !Ref Priority
            Conditions:
                -   Field: host-header
                    Values:
                        -   !Sub ${Header}.Demo.com
                -   Field: path-pattern
                    Values:
                        -   "*"
            Actions:
                -   TargetGroupArn: !Ref TargetGroup
                    Type: forward

    TaskDefinition:
        Type: AWS::ECS::TaskDefinition
        Properties:
            Family: !Join ['', [!Ref 'AWS::StackName', !Sub '-ecs-${EnvironmentName}']]
            TaskRoleArn: !Ref TaskDefinitionRole
            ContainerDefinitions:
                -   Name: !Ref EnvironmentName
                    Essential: 'true'
                    Image: !Sub ${AWS::AccountId}.dkr.ecr.${AWS::Region}.amazonaws.com/${ECRRepository}:${ImageTag}
                    MemoryReservation: '2500'
                    LogConfiguration:
                        LogDriver: awslogs
                        Options:
                            awslogs-group: !Ref CloudwatchLogsGroup
                            awslogs-region: !Ref AWS::Region
                            awslogs-stream-prefix: !Sub ecs-${EnvironmentName}
                    PortMappings:
                        -   ContainerPort: !Ref PortContainer

    ManualTaskDefinition:
        Type: AWS::ECS::TaskDefinition
        Condition: MasterManual
        Properties:
            Family: !Join ['', [!Ref 'AWS::StackName', !Sub '-ecs-${EnvironmentName}-manual']]
            TaskRoleArn: !Ref TaskDefinitionRole
            ContainerDefinitions:
                -   Name: !Sub ${EnvironmentName}-manual
                    Essential: 'true'
                    Command:
                        - "/bin/bash"
                        - "-c"
                        - "bin/start_env.sh"
                    Image: !Sub ${AWS::AccountId}.dkr.ecr.${AWS::Region}.amazonaws.com/${ECRRepository}:${ImageTag}
                    MemoryReservation: '1500'
                    LogConfiguration:
                        LogDriver: awslogs
                        Options:
                            awslogs-group: !Ref CloudwatchLogsGroup
                            awslogs-region: !Ref AWS::Region
                            awslogs-stream-prefix: !Sub ecs-${EnvironmentName}
                    PortMappings:
                        -   ContainerPort: !Ref PortContainer

    Service:
        Type: AWS::ECS::Service
        Properties:
            Cluster: !Ref Cluster
            Role: !Ref ServiceRole
            DesiredCount: !Ref DesiredCount
            TaskDefinition: !Ref TaskDefinition
            LoadBalancers:
            -   ContainerName: !Ref EnvironmentName
                ContainerPort: !Ref PortContainer
                TargetGroupArn: !Ref TargetGroup

    ServiceScalingTarget:
        Type: AWS::ApplicationAutoScaling::ScalableTarget
        Properties:
            MaxCapacity: 3
            MinCapacity: 1
            ResourceId: !Join ['', [service/, !Ref Cluster, /, !GetAtt Service.Name]]
            RoleARN: !GetAtt [AutoscalingRole, Arn]
            ScalableDimension: ecs:service:DesiredCount
            ServiceNamespace: ecs

    ServiceScalingUpPolicy:
        Type: AWS::ApplicationAutoScaling::ScalingPolicy
        Properties:
            PolicyName: !Sub ${AWS::StackName} Scale Up w/ adjustment
            PolicyType: StepScaling
            ScalingTargetId: !Ref ServiceScalingTarget
            StepScalingPolicyConfiguration:
                AdjustmentType: ChangeInCapacity
                Cooldown: 60
                MetricAggregationType: Average
                StepAdjustments:
                    -   MetricIntervalLowerBound: 0
                        ScalingAdjustment: 1

    ServiceScalingDownPolicy:
        Type: AWS::ApplicationAutoScaling::ScalingPolicy
        Properties:
            PolicyName: !Sub ${AWS::StackName} Scale Down w/ adjustment
            PolicyType: StepScaling
            ScalingTargetId: !Ref ServiceScalingTarget
            StepScalingPolicyConfiguration:
                AdjustmentType: ChangeInCapacity
                Cooldown: 60
                MetricAggregationType: Average
                StepAdjustments:
                    -   MetricIntervalLowerBound: 0
                        ScalingAdjustment: "-1"

    AutoscalingRole:
        Type: AWS::IAM::Role
        Properties:
            AssumeRolePolicyDocument:
                Statement:
                    -   Effect: Allow
                        Principal:
                            Service: [application-autoscaling.amazonaws.com]
                        Action: ['sts:AssumeRole']
            Path: /
            Policies:
                -   PolicyName: service-autoscaling
                    PolicyDocument:
                        Statement:
                            -   Effect: Allow
                                Action: ['application-autoscaling:*', 'cloudwatch:DescribeAlarms', 'cloudwatch:PutMetricAlarm',
                                'ecs:DescribeServices', 'ecs:UpdateService']
                                Resource: '*'

    MemoryScaleUpAlarm:
        Type: AWS::CloudWatch::Alarm
        Properties:
            EvaluationPeriods: '1'
            Statistic: Average
            Threshold: '98'
            AlarmDescription: >
                The MemoryUtilization of the instance has exceeded 98% for more than
                one minute. Breaching this alarm should trigger an ASG scale out.
            Period: '60'
            AlarmActions: [!Ref 'ServiceScalingUpPolicy']
            Namespace: AWS/ECS
            ComparisonOperator: GreaterThanOrEqualToThreshold
            MetricName: MemoryUtilization
            Dimensions:
                -   Name: ClusterName
                    Value: !Ref Cluster
                -   Name: ServiceName
                    Value: !GetAtt Service.Name

    MemoryScaleDownAlarm:
        Type: AWS::CloudWatch::Alarm
        Properties:
            EvaluationPeriods: '1'
            Statistic: Average
            Threshold: '30'
            AlarmDescription: >
                The MemoryUtilization of the instance has exceeded 98% for more than
                one minute. Breaching this alarm should trigger an ASG scale out.
            Period: '3600'
            AlarmActions: [!Ref 'ServiceScalingDownPolicy']
            Namespace: AWS/ECS
            ComparisonOperator: LessThanThreshold
            MetricName: MemoryUtilization
            Dimensions:
                -   Name: ClusterName
                    Value: !Ref Cluster
                -   Name: ServiceName
                    Value: !GetAtt Service.Name

Outputs:
    ServiceName:
        Value: !GetAtt Service.Name
    ManualTaskDefinitionNamINDX( 	 πN2           (   ÿ  Ë       ‘~   —–g T         	4     ® ò     È3     ÌuWÿ\— i ‰“ó–:àìzº—1ånÀÚ
‘ ¿J     ∫πJ        